$btn-icon-padding-y: 0.5rem !default;
$btn-icon-padding-x: 0.5rem !default;

$btn-icon-padding-y-sm: 0.25rem !default;
$btn-icon-padding-x-sm: 0.25rem !default;

$btn-icon-padding-y-lg: 0.1rem !default;
$btn-icon-padding-x-lg: 0.1rem !default;
